html {
    background-color: #ded6c5;
    font-family: sans-serif;
}

h1 {
    font-size: 3rem;
    margin-top: 1em;
    margin-bottom: 1em;
}

h2 {
    font-size: 2rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

hr {
    border: 2px solid;
    border-radius:1px;
    margin-top: 1em;
    margin-bottom: 1em;
}

a {
    color: black;
    &:hover {
	color: #8a857a;
    }
}

p {
    text-align: justify;
    text-justify: inter-word;
}
